body {
background-image: linear-gradient(90deg, #666666, #ffffff);
text-decoration-color: beige;
}

p {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}
image {
    max-width: 100px;

}

#container1 {
    background-color: white;
    min-height: 600px;
    padding: 40px;
    border-block-color: black;
    margin: 20px;
}

h1 {
    box-align: center;
text-decoration-color: blue;
}

nav ul {
    list-style: none;
    text-align: center;
/* }

nav li{

}

nav a{

} */