body {
background-image: linear-gradient(90deg, #666666, #ffffff);
text-decoration-color: beige;
}

p {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#container1 {
    background-color: white;
    min-height: 600px;
    padding: 40px;
    border-block-color: black;
    margin: 20px;
}

img #bigkitty {
    max-height: 200px;
    border: 3px;
    border-color: black;
}

h1 {
    box-align: center;
text-decoration-color: blue;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    border-left: 1px solid brown;
    font-size: 16px;
}

nav li:last-of-type {
    border-right: 1px solid brown;
}

nav a {
    text-decoration: none;
    padding: 10px;
}